# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
DIRECT_URL=postgresql://postgres:postgres@db:5432/postgres

# Authentication and Security
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="secret" 
SALT="salt" 
ENCRYPTION_KEY=

# Langfuse Configuration
LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES=false
TELEMETRY_ENABLED=false
LANGFUSE_ALLOWED_ORGANIZATION_CREATORS=  # add email addresses separated by comma
LANGFUSE_EE_LICENSE_KEY=
DELETE_TRACES_SECRET_KEY=

# Email Configuration
SMTP_CONNECTION_URL=
EMAIL_FROM_ADDRESS=
